body{
    background: #fff;
    color: #777;
    font-size: 18px;
    line-height: 1.7;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #fff url(../images/redox_01.png) repeat left top;
}
h1, h2, h3, h4, h5, h6{
    font-family: Georgia,Times,"Times New Roman",serif;
    color: #4aaaa5;
}
.container{
    max-width: 960px;
}
/* Header Section Styles Start Here*/
#header-section{
    border-bottom: 1px solid #ccc;
    position: relative;
    height: auto;
    width: 100%;
    background: #fff;
}
.bg-light {
    background-color: transparent !important;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    background: #4aaaa5;
    color: #fff;
    padding: 10px 20px;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 24px;
    font-weight: 700;
}
.navbar-light .navbar-brand{
    color: #fff;
}
.navbar-light .navbar-brand:hover{
    color: #fff;
}
.nav-link{
    color: #777;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color: #4aaaa5;
}
.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item:last-child{
    padding-right: 0;
}
/* Header Section Styles End Here*/


/* Main Section Styles Start Here*/
#main-section{
    position: relative;
    height: auto;
    width: 100%;
    padding: 35px 0;
}
.main-content{
    position: relative;
    height: auto;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
    padding: 30px;
}
.main-title{
    color: #4aaaa5;
    font-size: 22px;
    margin: 0 0 25px 0;
    padding-bottom: 20px;
    font-weight: 700;
    border-bottom: 2px solid #ddd;
}
.aboutme{
    position: relative;
    height: auto;
}
.profile-img{
    float: left;
    margin: 0 15px 15px 0;
}
.aboutme p{
    font-size: 18px;
    margin: 0 0 20px 0;
}
.aboutme p:last-child{
    margin-bottom: 0;
}
.contact-form .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.contact-form .form-control:focus{
    box-shadow: none;
    border-color: #4aaaa5;
}
.contact-form .btn{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #4aaaa5;
    padding: 10px 30px;
    font-size: 18px;
}
.contact-form .btn:hover{
    background: #777;
}
#portfolio{
    position: relative;
    height: auto;
    width: 70%;
    overflow: hidden;
}
#portfolio ul{
    padding: 0;
    margin: -20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 
#portfolio ul li{
    position: relative;
    height: auto;
    width: 50%;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
} 
#portfolio ul li:last-child{
    margin-bottom: 0;
}
#portfolio ul li a{
    display: block;
} 
#portfolio ul li a img{
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    -ms-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
}
#portfolio ul li a:hover img{
    opacity: 0.4;
}
.portfolio-label{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 25px;
    text-align: center;
    padding: 5px 10px;
    background: #4aaaa5;
    color: #fff;
    font-size: 16px;
} 

/* Main Section Styles End Here*/


/* Footer Section Styles Start Here*/
#footer-section{
    position: relative;
    width: 100%;
    height: auto;
    border-top: 5px solid #4aaaa5;
    background: #666;
    padding: 20px 0;
}
.copyright{
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin: 0;
}
/* Footer Section Styles End Here*/

/* Responsive Styles Start Here*/
@media (min-width: 768px) {
    body{
        padding-bottom: 68px;
    }
    #footer-section{
        position: fixed;
        bottom: 0;
    }
}

@media (max-width: 767.98px) { 
    .nav-item {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav .nav-link{
        padding: .5rem 1rem;
        background: #ddd;
        border-top: 1px solid #ccc;
    }    
    #portfolio{
        width: 80%;
    }
    #portfolio ul{
        margin: -10px;
    } 
    #portfolio ul li{
        padding: 10px;
        margin-bottom: 10px;
    } 
    .portfolio-label{
        left: 10px;
        right: 10px;
        bottom: 15px;
        padding: 4px 8px;
    } 
}

@media (max-width: 575.98px) { 
    .profile-img{
        float: none;
        margin: 0 0 20px 0;
    }
    #portfolio{
        width: 100%;
    }
    #portfolio ul{
        margin: -10px;
    } 
    #portfolio ul li{
        padding: 10px;
        margin-bottom: 10px;
    } 
    .portfolio-label{
        left: 10px;
        right: 10px;
        bottom: 15px;
        padding: 4px 8px;
    } 
}

@media (max-width: 479.98px) { 
    .profile-img{
        float: none;
        margin: 0 0 20px 0;
    }
    #portfolio{
        width: 100%;
    }
    #portfolio ul{
        margin: 0;
        display: block;
    } 
    #portfolio ul li{
        padding: 0;
        margin-bottom: 15px;
        width: 100%;
    } 
    .portfolio-label{
        left: 0;
        right: 0;
        bottom: 5px;
        padding: 4px 8px;
    } 
}
/* Responsive Styles End Here*/